@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 5vw;
    margin-left: 25vw;
    margin-top: 15vw;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 60px;
    font-family: monospace;
}